<% const ctx = global.config.contextPath + global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include foodMenu %>
        </div>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row">
                <ol class="breadcrumb list">
                    <li><a href="<%= ctx %>/bill/index">餐饮服务</a></li>
                    <li><a href="#">菜品维护</a></li>
                </ol>
            </div>
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h2>查询条件</h2>
                    </div>
                    <div class="box-content">
                        <form role="form" id="query_form">
                            <input type="hidden" name="_sync" value="false"/>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">客户名称</span>
                                        <select class="form-control select2-single"
                                                name="customerId">
                                            <option value="">--请选择--</option>
                                            <% for(let i = 0;i < data.length;i++){ %>
                                            <option value="<%= data[i].id %>"><%= data[i].name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">商品名称</span>
                                        <input type="text" name="code_like" placeholder="模糊查询" class="form-control"
                                               value=""/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">商户订单</span>
                                        <input type="text" name="orderNo_like" placeholder="模糊查询" class="form-control"
                                               value=""/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">交易通道</span>
                                        <select class="form-control" name="payMethod">
                                            <option value="">--请选择--</option>
                                            <option value="微信">微信支付</option>
                                            <option value="支付宝">支付宝</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-actions">
                                        <button type="button" class="btn btn-primary btn_query">查询</button>
                                        <button type="button" class="btn btn-outline-primary btn_sync">
                                            <i class="fa fa-cloud-download"></i>&nbsp;手工同步
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dataList"></div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">数据获取</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="data_form" method="post" action="">
                            <div class="form-group">
                                <label>客户选择</label>
                                <select id="customerSelect" class="form-control select2-single"
                                        name="customerId">
                                    <option value="">--请选择--</option>
                                    <% for(let i=0;i<data.length;i++){ %>
                                    <option value="<%= data[i].id %>"><%= data[i].name %></option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="dateSelelct">同步日期</label>
                                <input name="daterange" class="form-control" type="text" id="dateSelelct" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_download"><i class="fa fa-dot-circle-o"></i> 执行</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>

</body>
</html>
