<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<title><%= title %></title>
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.<%= global.config.mode %>css" rel="stylesheet">
<!-- start: CSS -->
<link href="<%= global.config.publicPath %>/assets/css/style.min.css" rel="stylesheet">
<link href="<%= global.config.publicPath %>/assets/css/retina.min.css" rel="stylesheet">

<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.<%= global.config.mode %>css" rel="stylesheet">
<link href="<%= global.config.publicPath %>/dolphin/css/dolphin.<%= global.config.mode %>css" rel="stylesheet">
<link href="<%= global.config.publicPath %>/page/css/common.css" rel="stylesheet">

<!-- start: Favicon and Touch Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= global.config.publicPath %>/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= global.config.publicPath %>/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= global.config.publicPath %>/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= global.config.publicPath %>/assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="<%= global.config.publicPath %>/assets/ico/favicon.png">
<!-- end: Favicon and Touch Icons -->


