<header class="navbar">
    <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="<%=global.config.path.contextPath%>/"><span><%=global.config.title %></span></a>
        <a id="main-menu-toggle" class="main-menu hidden-xs open"><i class="fa fa-bars"></i></a>
        <% if(userData && userData.menu){ %>
        <%
            let i,j;
            if(!body.curMenu){
                body.curMenu = 'index';
            }
        %>
        <% for(i = 0; i < userData.menu.rows.length; i++){ %>
        <a href="<%=global.config.path.contextPath + userData.menu.rows[i].link %>" id="main-menu-toggle" class="main-menu<%=body.__curMenu == userData.menu.rows[i].code?' active':'' %>"><i class="fa <%=userData.menu.rows[i].icon %>"></i> <%=userData.menu.rows[i].name %></a>
        <% } %>
        <% } %>
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown hidden-xs">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
                        <i class="fa fa-warning"></i>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <li class="dropdown-menu-title">
                            <span>You have 11 notifications</span>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon blue"><i class="fa fa-user"></i></span>
                                <span class="message">New user registration</span>
                                <span class="time">1 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">7 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">8 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">16 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon blue"><i class="fa fa-user"></i></span>
                                <span class="message">New user registration</span>
                                <span class="time">36 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon yellow"><i class="fa fa-shopping-cart"></i></span>
                                <span class="message">2 items sold</span>
                                <span class="time">1 hour</span>
                            </a>
                        </li>
                        <li class="warning">
                            <a href="index.html#">
                                <span class="icon red"><i class="fa fa-user"></i></span>
                                <span class="message">User deleted account</span>
                                <span class="time">2 hour</span>
                            </a>
                        </li>
                        <li class="warning">
                            <a href="index.html#">
                                <span class="icon red"><i class="fa fa-shopping-cart"></i></span>
                                <span class="message">Transaction was canceled</span>
                                <span class="time">6 hour</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">yesterday</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="icon blue"><i class="fa fa-user"></i></span>
                                <span class="message">New user registration</span>
                                <span class="time">yesterday</span>
                            </a>
                        </li>
                        <li class="dropdown-menu-sub-footer">
                            <a>View all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- start: Notifications Dropdown -->
                <li class="dropdown hidden-xs">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
                        <i class="fa fa-tasks"></i>
                    </a>
                    <ul class="dropdown-menu tasks">
                        <li>
                            <span class="dropdown-menu-title">You have 17 tasks in progress</span>
                        </li>
                        <li>
                            <a href="index.html#">
									<span class="header">
										<span class="title">iOS Development</span>
										<span class="percent"></span>
									</span>
                                <div class="taskProgress progressSlim progressBlue">80</div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
									<span class="header">
										<span class="title">Android Development</span>
										<span class="percent"></span>
									</span>
                                <div class="taskProgress progressSlim progressYellow">47</div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
									<span class="header">
										<span class="title">Django Project For Google</span>
										<span class="percent"></span>
									</span>
                                <div class="taskProgress progressSlim progressRed">32</div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
									<span class="header">
										<span class="title">SEO for new sites</span>
										<span class="percent"></span>
									</span>
                                <div class="taskProgress progressSlim progressGreen">63</div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
									<span class="header">
										<span class="title">New blog posts</span>
										<span class="percent"></span>
									</span>
                                <div class="taskProgress progressSlim progressPink">80</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-sub-footer">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- end: Notifications Dropdown -->
                <!-- start: Message Dropdown -->
                <li class="dropdown hidden-xs">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <ul class="dropdown-menu messages">
                        <li>
                            <span class="dropdown-menu-title">You have 9 messages</span>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="avatar"><img src="<%= global.config.path.publicPath %>/simpliQ/img/avatar.jpg" alt="Avatar"></span>
                                <span class="header">
										<span class="from">
									    	Łukasz Holeczek
									     </span>
										<span class="time">
									    	6 min
									    </span>
									</span>
                                <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="avatar"><img src="<%= global.config.path.publicPath %>/simpliQ/img/avatar2.jpg" alt="Avatar"></span>
                                <span class="header">
										<span class="from">
									    	Megan Abott
									     </span>
										<span class="time">
									    	56 min
									    </span>
									</span>
                                <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="avatar"><img src="<%= global.config.path.publicPath %>/simpliQ/img/avatar3.jpg" alt="Avatar"></span>
                                <span class="header">
										<span class="from">
									    	Kate Ross
									     </span>
										<span class="time">
									    	3 hours
									    </span>
									</span>
                                <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="avatar"><img src="<%= global.config.path.publicPath %>/simpliQ/img/avatar4.jpg" alt="Avatar"></span>
                                <span class="header">
										<span class="from">
									    	Julie Blank
									     </span>
										<span class="time">
									    	yesterday
									    </span>
									</span>
                                <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="avatar"><img src="<%= global.config.path.publicPath %>/simpliQ/img/avatar5.jpg" alt="Avatar"></span>
                                <span class="header">
										<span class="from">
									    	Jane Sanders
									     </span>
										<span class="time">
									    	Jul 25, 2012
									    </span>
									</span>
                                <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-sub-footer">View all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- end: Message Dropdown -->
                <li>
                    <a class="btn" href="index.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                </li>
                <!-- start: User Dropdown -->
                <li class="dropdown">
                    <a class="btn account dropdown-toggle" data-toggle="dropdown" href="index.html#">
                        <div class="avatar"><img src="<%= global.config.path.publicPath %>/simpliQ/img/avatar.jpg" alt="Avatar"></div>
                        <div class="user">
                            <span class="hello">欢迎使用~</span>
                            <span class="name"><%= userData.name %></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-title">

                        </li>
                        <!--<li><a href="index.html#"><i class="fa fa-user"></i> Profile</a></li>-->
                        <!--<li><a href="index.html#"><i class="fa fa-cog"></i> Settings</a></li>-->
                        <!--<li><a href="index.html#"><i class="fa fa-envelope"></i> Messages</a></li>-->
                        <li><a href="javascript:updatePwdModal.modal('show');"><i class="fa fa-pencil-square-o"></i> 修改密码</a></li>
                        <li><a href="<%=global.config.path.contextPath %>/login/logout"><i class="fa fa-sign-out"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- end: User Dropdown -->
            </ul>
        </div>
        <!-- end: Header Menu -->

    </div>
</header>



<div class="default-hidden">
    <form class="form-horizontal edit-form" id="update-password-form">
        <input class="form-control" name="wechat_id" type="hidden">
        <!--<input type="hidden" class="form-control" name="_id">-->
        <div class="form-group">
            <label class="col-md-3 control-label">旧密码</label>
            <div class="col-md-7">
                <input class="form-control" name="oldPassword" type="password" dol-validate="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">新密码</label>
            <div class="col-md-7">
                <input class="form-control" name="newPassword" type="password" dol-validate="required" id="newPassword">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">确认密码</label>
            <div class="col-md-7">
                <input class="form-control" name="confirmPassword" type="password" dol-validate='required,sameInput[#newPassword|新密码]'>
            </div>
        </div>
    </form>
    <div id="update_password_form_footer">
        <button type="button" class="btn btn-primary btn-small" id="update_password_form_save">保存</button>
        <button type="button" class="btn btn-default btn-small dol-hideModal" id="edit_form_cancel">取消</button>
    </div>
</div>

<!--<nav class="navbar navbar-default navbar-custom">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="/<%= global.config.path.contextPath %>">-->
                <!--<img src="<%= global.config.path.publicPath %>/custom/images/icon/favicon.png" class="img-responsive" />-->
                <!--<%=global.config.title %>平台-->
            <!--</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav">-->
                <!--&lt;!&ndash;<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>&ndash;&gt;-->
                <!--<% if(userData && userData.menu){ %>-->
                <!--<% let i,j;%>-->
                <!--<% for(i = 0; i < userData.menu.rows.length; i++){ %>-->
                <!--<% if(userData.menu.rows[i].__type == 'folder'){ %>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=userData.menu.rows[i].name %> <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<% for(j = 0; j < userData.menu.rows[i].children.length; j++){ %>-->
                        <!--<li menuCode="<%=userData.menu.rows[i].children[j].code %>" ><a href="<%= global.config.path.contextPath %><%=userData.menu.rows[i].children[j].link %>"><%=userData.menu.rows[i].children[j].name %></a></li>-->
                        <!--<% } %>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<% }else{ %>-->
                <!--<li menuCode="<%=userData.menu.rows[i].code %>" ><a href="<%= global.config.path.contextPath %><%=userData.menu.rows[i].link %>"><%=userData.menu.rows[i].name %></a></li>-->
                <!--<% } %>-->
                <!--<% }}else{ %>-->
                <!--<li><a href="#">首页</a></li>-->
                <!--<% if(userData && userData.role == "admin"){ %>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li menuCode="userList" ><a href="<%= global.config.path.contextPath %>/view/auth/userManagement">账号管理</a></li>-->
                        <!--<li menuCode="menuList" ><a href="<%= global.config.path.contextPath %>/view/auth/menuManagement">菜单管理</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li menuCode="dictList" ><a href="<%= global.config.path.contextPath %>/view/system/dictManagement">数据字典</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li><a href="<%= global.config.path.contextPath %>/view/doc/doc">接口文档</a></li>&ndash;&gt;-->
                <!--<% } %>-->
                <!--<% } %>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#"></a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= userData.name %> <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">修改密码</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="<%= global.config.path.contextPath %>/login/logout">退出账号</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->